/* 선택자 (selector) */
/* div만 생략 가능 */
/* display: none 속성 사용 시, 스크린리더에도 읽히지 않음 */
/* *은 모든 태그를 의미 */
* {
    box-sizing: border-box;
}
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

#header-center, #header-wrapper {
    margin: 0 auto;
    width: 1080px;
}

#header-search a {
    text-decoration: none;
}
/* 자식 선택자 지정 = 바로 안에 속한 태그 (깊이 2) */
#header-search h1 {
    display: inline-block;
    /*background-image: url('./sp_search.png');*/
    /*background-position: 0 -158px;*/
    /*background-repeat: no-repeat;*/
    background: url(./sp_search.png) 0px -158px no-repeat;
    /*vertical-align: top;*/
    background-size: 442px 428px;
    width: 222px;
    height: 52px;
    vertical-align: middle;
    /*text-indent: 101%;*/
    /*overflow: hidden;*/

}

#header-search h1 span {
    display: none;
}

#header-search h2 {
    display: none;
}

#header-search fieldset {
    margin-left : 20px;
    /*padding-top : 12px;*/
    /*padding-bottom : 12px;*/
    /*padding-left : 10px;*/
    /*padding-right : 0px;*/
    padding: 12px 0 12px 10px;
    width : 521px;
    height: 49px;
    display:inline-block;
    /*border-top: 2px solid #03cf5d;*/
    /*border-right: 2px solid #03cf5d;*/
    /*border-bottom: 2px solid #03cf5d;*/
    /*border-left: 2px solid #03cf5d;*/
    /* border:2px solid rgb(61,133,51); */
    border:2px solid #03cf5d;
    /* border : 굴기, 선 종류, 색 (RGB, HEX 표기법) */
    /* box-sizing: content-box; */
    /* box-sizing: border-box; */
    vertical-align: middle;
}

#header-search fieldset input {
    border: none;
    padding: 0;
    outline: none;
}

#header-search fieldset button
{
    width: 56px;
    height: 56px;
    border: none;
    padding: 0;
    outline: none;
    background: #03cf5d;
}

#search-image {
    display: inline-block;
    width: 56px;
    height: 56px;
    background-image: url(./sp_search.png);
    background-position: -834px -42px;
    background-repeat: no-repeat;
    margin: 0px;
}

/* 자손 선택자 지정 = 깊이가 3이상에 속한 태그 */
/*#header-center h1 {
}
*/