/* 선택자 (selector) */
/* div만 생략 가능 */
/* display: none 속성 사용 시, 스크린리더에도 읽히지 않음 */
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

#header-center, #header-wrapper {
    margin: 0 auto;
    width: 1080px;
}

/* 자식 선택자 지정 = 바로 안에 속한 태그 (깊이 2) */
#header-search > h1 {
    width: 222px;
    height: 52px;
    display:inline-block;
    background-image: url('./sp_search.png');
}

#header-search h2 {
    display: none;
}

#header-search fieldset {
    width : 520px;
    display:inline-block;
}

/* 자손 선택자 지정 = 깊이가 3이상에 속한 태그 */
/*#header-center h1 {
}
*/