/* 선택자 (selector) */
/* div만 생략 가능 */
#header-center, #header-wrapper {
    margin: 0 auto;
    width: 1080px;
}

/* 자식 선택자 지정 = 바로 안에 속한 태그 (깊이 2) */
#header-search > h1 {
    width: 280px;
    display:inline-block;
}

#header-search h2 {
    display: none;
}

#header-search fieldset {
    width : 520px;
    display:inline-block;
}

/* 자손 선택자 지정 = 깊이가 3이상에 속한 태그 */
/*#header-center h1 {
}
*/