/* 선택자 (selector) */
/* div만 생략 가능 */
/* display: none 속성 사용 시, 스크린리더에도 읽히지 않음 */
/* *은 모든 태그를 의미 */

#fixed {
    position: fixed;
    top: 50px;
    right: 50px;
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    /*  border-radius는 테두리를 둥글게 만듦 */
    border-radius: 50px ;
}

.blind {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
}

.relative {
    position: relative;
}

.center-align {
    margin: 0 auto;
    width: 1080px;
}

header {
    height: 170px;
}

#header-top
{
    float: right;
    margin-top: 45px;
}

#header-top span {
    /* 두 글자씩 같은 경우에 2개->1개 축약 가능 */
    /* color는 글자 색 */
    color: #888;
    /* letter-spacing은 자간 */
    letter-spacing: -1px;
    /* font-size는 font의 크기 */
    font-size: 11px;
    /* line-height는 글자의 높이 (글자 라인간 간격 조정) */
    line-height: 22px;
}

#header-search {
    /*display: inline-block;*/
    clear: right;
    padding-top: 12px;
}

#header-search a {
    text-decoration: none;
}
/* 자식 선택자 지정 = 바로 안에 속한 태그 (깊이 2) */
#header-search h1 {
    width: 222px;
    height: 52px;
    display: inline-block;
    /*background-image: url('./sp_search.png');*/
    /*background-position: 0 -158px;*/
    /*background-repeat: no-repeat;*/
    background: url(./sp_search.png) 0px -158px no-repeat;
    vertical-align: middle;
    position: relative;
    /*vertical-align: top;*/
    background-size: 442px 428px;
    /*text-indent: 101%;*/
    /*overflow: hidden;*/
    top: -5px;
    left: 1px;

}

#header-search h1 span {
    display: none;
}

#header-search h2 {
    display: none;
}

#header-search fieldset {
    margin-left : 18px;
    /*padding-top : 12px;*/
    /*padding-bottom : 12px;*/
    /*padding-left : 10px;*/
    /*padding-right : 0px;*/
    padding: 12px 0 12px 10px;
    width : 521px;
    height: 49px;
    display:inline-block;
    /*border-top: 2px solid #03cf5d;*/
    /*border-right: 2px solid #03cf5d;*/
    /*border-bottom: 2px solid #03cf5d;*/
    /*border-left: 2px solid #03cf5d;*/
    /* border:2px solid rgb(61,133,51); */
    border:2px solid #03cf5d;
    /* border : 굴기, 선 종류, 색 (RGB, HEX 표기법) */
    /* box-sizing: content-box; */
    /* box-sizing: border-box; */
    vertical-align: middle;
    position: relative;
}

#header-search fieldset input {
    border: none;
    padding: 0;
    outline: none;
    vertical-align: top;
    width: 394px;
    height: 24px;
}

#header-search fieldset button
{
    width: 49px;
    height: 49px;
    border: none;
    padding: 0;
    outline: none;
    background: #03cf5d;
    position : absolute;
    right : 0;
    top: -2px;
}

#search-keyboard {
    background-image: url(./sp_search.png);
    background-size: 442px 428px;
    background-repeat: no-repeat;
    background-position: -398px -267px;
    width: 20px;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 3px;
}

#search-history {
    background-image: url(./sp_search.png);
    background-size: 442px 428px;
    background-repeat: no-repeat;
    background-position: -158px -151px;
    width: 10px;
    height: 5px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 3px;
}

#search-image {
    background-size: 442px 428px;
    width: 22px;
    height: 22px;
    display: inline-block;
    background-image: url(./sp_search.png);
    background-position: -420px -22px;
    background-repeat: no-repeat;
    margin: 14px;

    /* 세로 가운데 정렬하는 방법 중 1개 */
    /* position: relative; */
    /* top:50%; */
    /* transform은 태그를 변형시키는 속성, */
    /* transform: translateY(-50%); */
}

nav {
    height: 46px;
    border-top: 1px solid #f1f3f6;
    border-bottom: 1px solid #d1d8e4;
}

nav ul {
    margin: 0;
    padding: 16px 0 0 4px;
    list-style: none;
    display: inline-block;
}

#nav-menu li {
    display: inline-block;
}

#nav-menu li:first-child span:first-child {
    width: 25px;
    background-position: -294px -155px;
    margin-left: 0;
}

#nav-menu li span:first-child {
    height: 16px;
    display: inline-block;
    background: url(./sp_nav.png);
    background-repeat: no-repeat;
    margin-left: 10px;
}

/*nav li:first-child span:first-child {*/

#nav-menu li:nth-child(2) span:first-child {
    width: 27px;
    background-position: -235px -233px;
}

#nav-menu li:nth-child(3) span:first-child {
    width: 40px;
    background-position: -49px -181px;
}

#nav-menu li:nth-child(4) span:first-child {
    width: 40px;
    background-position: -128px -130px;
}

#nav-menu li:nth-child(5) span:first-child {
    width: 27px;
    background-position: -112px -260px;
}

#nav-menu li:nth-child(6) span:first-child {
    width: 27px;
    background-position: -292px -208px;
}

#nav-menu li:nth-child(7) span:first-child {
    width: 34px;
    background-position: -200px -182px;
}

#nav-menu li:nth-child(8) span:first-child {
    width: 26px;
    background-position: -294px -25px;
}

#nav-menu li:nth-child(9) span:first-child {
    width: 27px;
    background-position: -86px -233px;
}

#nav-menu li:nth-child(10) span:first-child {
    width: 27px;
    background-position: -255px -260px;
}

#nav-menu li:nth-child(11) span:first-child {
    width: 39px;
    background-position: -126px -156px;
}

#nav-menu li:nth-child(12) span:first-child {
    width: 27px;
    background-position: -124px -234px;
}

#nav-menu li:nth-child(13) span:first-child {
    width: 27px;
    background-position: -37px -260px;
}

#nav-menu li:nth-child(14) span:first-child {
    width: 26px;
    background-position: -219px -260px;
}

#nav-menu li:nth-child(15) span:first-child {
    width: 13px;
    background-position: -294px -260px;
}

#nav-menu li:nth-child(16) span:first-child {
    width: 26px;
    background-position: -74px -260px;
}

#nav-menu li.more:first-child span:first-child {
    width: 55px;
    background-position: 0 -130px;
}


.nav-divider {
    display: inline-block;
    margin: 18px 16px 0;
    width: 1px;
    height: 14px;
    background: #ebeef3;
}

#search-ranking {
    position: absolute;
    top: 14px;
    right: 0;
    width: 198px;
    height: 20px;
}

#search-ranking:hover ul, #search-ranking:hover #search-module {
    display: inline-block;
}
/* #search-ranking ul {} */
#search-module {
    top: -15px;
    right: 0;
    list-style: none;
    padding: 17px;
    margin: 0;
    width: 332px;
    height: 334px;
    border: 1px solid #aaa;
    background: white;
    z-index: 100;
    position: absolute;
    display: none;
}

#search-module

.search-block-first {
    padding-bottom: 10px;
}

.search-block-first span:first-child {
    height: 30px;
    color: #000;
    margin: 0 6px;
    letter-spacing: -1px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    vertical-align: top;
}

.search-block-first span:nth-child(2) {
    position: absolute;
    text-align: left;
    margin: 0 6px;
    color: #666;
    font-weight: 400;
    font-size: 12px;
    right: 20px;
}

.search-block-second {
}

.search-block-second a {
    float: left;
    margin-left: -1px;
    padding-top: 5px;
    width: 147px;
    height: 22px;
    border: 1px solid #e3e7ee;
    background: #f9fafc;
    color: #888;
    vertical-align: top;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    line-height: 14px;
}

.search-block-third {

}

.search-block-third ul {
    padding-bottom: 3px;
    border-bottom: 1px solid #f1f3f6;
}

.search-block-third li {
    display: inline-block;
    width: 100%;
    position: relative;
    height: 18px;
}

.search-block-third li .rank-number{
    float:left;
    top: 50%;
    left: 0;
    min-width: 17px;
    color: #000;
    vertical-align: top;
    text-align: center;
    font-size: 14px;
    font-family: Arial,Sans-serif;
    line-height: 18px;
}

.search-block-third li .rank-title {
    float:left;
    top: -25%;
    font-size: 12px;
    line-height: 18px;
    padding-top: 5px;
    padding-left: 5px;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.search-block-fourth {
    border-top: 1px solid #aaa;
}

.search-block-fourth span {
    color: #888;
    font-size: 11px;
    line-height: 24px;
}

.search-block-fourth span span:nth-child(2){
    background: url(./sp_search_s.png)  -200px -74px no-repeat;
    margin-top:8px;
    width: 58px;
    height: 10px;
    position: absolute;
    right: 20px;
}

#z-example {
    position: absolute;
    background: yellow;
    width: 100px;
    height: 100px;
    z-index: 1;
}

#z-inner {
    position: absolute;
    background: red;
    width: 50px;
    height: 50px;
    z-index: 1000;
}

#rank-number {
    margin-top: -9px;
    color: #00ab33;
    font-size: 16px;
}

#rank-title {
    letter-spacing: -1px;
    font-size: 14px;
}

main {
    background-color: #f2f4f7;
    display: inline-block;
    width: 100%;
}

#main-centered {
    padding: 8px 10px;
    width: 1100px;
}

#main-first-block {
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

#main-second-block {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 8px;
}

#main-second-block .float-left:first-child {
    width: 740px;
    margin-right: 8px;
}
#main-second-block .float-left:last-child {
    width: 332px;
    vertical-align: top;
}

#main-third-block,
#main-fourth-block {
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

#main-first-ad {
    float: left;
    width: 740px;
    height: 120px;
    background: #555;
    margin-right: 8px;
    margin-bottom: 8px;
}

#main-login {
    float: left;
    width: 332px;
    height: 120px;
    vertical-align: top;
    background-color: white;
    margin-bottom: 8px;
}

#main-login .login-wrapper {
    padding: 15px 25px;
}

#main-login .login-wrapper a {
    display: block;
}

#main-login .login-text {
    color: #888;
    font-size: 12px;
    line-height: 14px;
}

#main-login .login-image {
    margin-top: 12px;
    background: url(./sp_login.png) 0 -47px no-repeat;
    display: inline-block;
    width: 280px;
    height: 37px;
}

#main-login .login-signup {
    float: right;
    font-size: 12px;
    line-height: 30px;
    color: #666;
    text-decoration: none;
}

#main-login .login-signup:hover {
    text-decoration: underline;
}

#main-ytn h3, #main-newsstand h3 {
    font-size: 14px;
    font-family: NanumSquare,Dotum,"돋움",Helvetica,AppleSDGothicNeo,sans-serif;
    /*line-height: 16px;*/
    padding-top: 15px;
    padding-left: 15px;
}

#main-ytn {
    display: inline-block;
    width: 740px;
    height: 46px;
    background-color: white;
    margin-bottom: 8px;
}

#main-ytn h3,
#main-ytn ol {
    display: inline-block;
    vertical-align: top;
}

#main-newsstand {
    display: inline-block;
    width: 740px;
    height: 246px;
    background-color: white;
    margin-right: 8px;
    vertical-align: top;
}

#main-newsstand ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#main-newsstand li {
    float: left;
    width: calc(100% / 6);
    height: 67px;
    border-right: 1px solid #f1f3f6;
    border-bottom: 1px solid #f1f3f6;
    text-align: center;
}

#main-newsstand li img {
    position: relative;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
}

#main-newsstand h3 {
    height: 45px;
    border-bottom: 1px solid #ebeef3;
}

#main-weather {
    display: inline-block;
    width: 332px;
    height: 142px;
    background-color: white;
    margin-bottom: 8px;
    vertical-align: top;
}

#main-second-ad {
    display: inline-block;
    width: 332px;
    height: 150px;
    background: #555;
    vertical-align: top;
}

#main-category {
    float: left;
    width: 740px;
    height: 882px;
    background: white;
    margin-bottom: 8px;
    margin-right: 8px;
}

#main-shopping {
    float: left;
    width: 330px;
    height: 882px;
    background: white;
    margin-bottom: 8px;
}

#main-shopping iframe {
    width: 100%;
    height: 100%;
    border: none;
}

#main-event {
    float: left;
    width: 740px;
    height: 130px;
    background: white;
    vertical-align: top;
    margin-right: 8px;
}

#main-third-ad {
    float: left;
    width: 330px;
    height: 130px;
    background: #555;
}

#main-category-top {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #ebeef3;
}

#subject-list, #subject-all, #subject-prev, #subject-next {
    float: left;
    height: 45px;
    padding: 0;
}

#subject-list {
    width: 603px;
    position: relative;
}

#subject-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    height: 45px;
    width: 700px;
}

#subject-list li {
    float: left;
    margin-right: 10px;
    padding: 17px 6px 0;
    font-size: 14px;
    font-family: NanumSquare,Dotum,"돋움",Helvetica,AppleSDGothicNeo,sans-serif;
}

.opacity {
    opacity: 0.5;
    background: white;
}

.opacity.left {
    position: absolute;
    left: 0;
    top: 0;
    height: 45px;
    width: 15px;
}

.opacity.right {
    position: absolute;
    right: 0;
    top: 0;
    height: 45px;
    width: 15px;
}


#subject-list li.highlight {
    border-bottom: 3px solid #00c73c;
    color: #00b336;
    font-weight: 700;
    height: 45px;
}


#subject-all {

}

#subject-all, #subject-prev, #subject-next {
    position: relative;
    width: 45px;
    background-color: white;
    border: none;
    border-left: 1px solid #ebeef3;
}

#subject-all span:last-child {
    position: absolute;
    top: 15px;
    left: 12px;
    width: 20px;
    height: 14px;
    background: url(./sp_themecast.png);
    background-repeat: no-repeat;
    background-position: -218px -257px;
}

#subject-prev span:last-child {
    position: absolute;
    top: 15px;
    left: 16px;
    width: 8px;
    height: 16px;
    background: url(./sp_themecast.png);
    background-repeat: no-repeat;
    background-position: -320px 1px;

}

#subject-next span:last-child {
    position: absolute;
    top: 15px;
    left: 16px;
    width: 8px;
    height: 16px;
    background: url(./sp_themecast.png);
    background-repeat: no-repeat;
    background-position: -320px -51px;
}

section {
    border: 1px solid #dee3eb;
}
/* 자손 선택자 지정 = 깊이가 3이상에 속한 태그 */
/*#header-center h1 {
}
*/